/* ----------------------------------------------
	CONTENT SECTIONING
	REF: MDN WEB DOCS
	https://developer.mozilla.org/en-US/docs/Web/HTML/Element
---------------------------------------------- */

address {

}

article {

}

aside {

}

footer {

}

header {

}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Salesforce Sans Bold';
}

main {

}

nav {

}

section {

}
