/* ----------------------------------------------
	FUNCTIONS
---------------------------------------------- */

@use 'theme/scss/01-settings/settings.typography';

// FUNCTION - COLOR
// REFERENCE: https://www.kevinpowell.co/article/using-my-colors/
@function clr($base, $shade: base) {
	$color: map-get(map-get($colors, $base), $shade);

	@return $color;
}

// FUNCTION - GET PATH TO BASE ASSETS/FONTS
$asset-base-path: '../stylesheet/img' !default;
$font-base-path: '../stylesheet/fonts/helvetica-neue-lt-pro' !default;

@function asset($type, $file) {
	@return url($asset-base-path + '/' + $type + '/' + $file);
}

@function fonts($type, $file) {
	@return url($font-base-path + '/' + $type + '/' + $file);
}

// EXAMPLE CODE FOR FUNCTION - GET PATH TO BASE ASSETS/FONTS
//@font-face {
//	font-family: 'Helvetica Neue';
//	src: font('HelveticaNeueLTPro-Roman.woff') format('woff');
//	font-style: normal;
//	font-weight: 400;
//}
//
//.my-custom-bg-img {
//	background-image: image('checkmark.svg');
//}
// IMAGE ASSET HELPER
@function image($file) {
	@return asset('images', $file);
}

// FONT ASSET HELPER
@function font($file) {
	@return fonts('fonts', $file);
}
