/* ----------------------------------------------
	HELPER
---------------------------------------------- */

// UTILITY - MARGINS
.m-0 {
	margin: 0 !important;
}

.m-1 {
	margin: 10px !important;
}

.m-2 {
	margin: 15px !important;
}

.m-3 {
	margin: 20px !important;
}

.m-4 {
	margin: 24px !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-1 {
	margin-bottom: 10px !important;
}

.mb-2 {
	margin-bottom: 15px !important;
}

.mb-3 {
	margin-bottom: 20px !important;
}

.mb-4 {
	margin-bottom: 24px !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.mt-1 {
	margin-top: 10px !important;
}

.mt-2 {
	margin-top: 15px !important;
}

.mt-3 {
	margin-top: 20px !important;
}

.mt-4 {
	margin-top: 24px !important;
}

.ml-0 {
	margin-left: 0 !important;
}

.ml-1 {
	margin-left: 10px !important;
}

.ml-2 {
	margin-left: 15px !important;
}

.ml-3 {
	margin-left: 20px !important;
}

.ml-4 {
	margin-left: 24px !important;
}

.mr-0 {
	margin-right: 0 !important;
}

.mr-1 {
	margin-right: 10px !important;
}

.mr-2 {
	margin-right: 15px !important;
}

.mr-3 {
	margin-right: 20px !important;
}

.mr-4 {
	margin-right: 24px !important;
}

// UTILITY - PADDING
.p-0 {
	padding: 0;
}

.p-1 {
	padding: 10px !important;
}

.p-2 {
	padding: 15px !important;
}

.p-3 {
	padding: 20px !important;
}

.p-4 {
	padding: 24px !important;
}

.pb-0 {
	padding-bottom: 0 !important;
}

.pb-1 {
	padding-bottom: 10px !important;
}

.pb-2 {
	padding-bottom: 15px !important;
}

.pb-3 {
	padding-bottom: 20px !important;
}

.pb-4 {
	padding-bottom: 24px !important;
}

.pt-0 {
	padding-top: 0 !important;
}

.pt-1 {
	padding-top: 10px !important;
}

.pt-2 {
	padding-top: 15px !important;
}

.pt-3 {
	padding-top: 20px !important;
}

.pt-4 {
	padding-top: 24px !important;
}

.pl-0 {
	padding-left: 0 !important;
}

.pl-1 {
	padding-left: 10px !important;
}

.pl-2 {
	padding-left: 15px !important;
}

.pl-3 {
	padding-left: 20px !important;
}

.pl-4 {
	padding-left: 24px !important;
}

.pr-0 {
	padding-right: 0 !important;
}

.pr-1 {
	padding-right: 10px !important;
}

.pr-2 {
	padding-right: 15px !important;
}

.pr-3 {
	padding-right: 20px !important;
}

.pr-4 {
	padding-right: 24px !important;
}

// UTILITY - COLORS
.bg-white {
	background-color: white !important;
}

.bg-grey {
	background-color: $light-grey !important;
}

// UTILITY - POSITIONING

// UTILITY - DISPLAYQ1
.disabled-options {
	pointer-events: none;
}

.relative {
	position: relative !important;
}

.display-inline-block {
	display: inline-block !important;
}

.display-block {
	display: block;
}

.display-flex {
	display: flex;
}

// UTILITY - WIDTH

// UTILITY - BLUR
.blur {
	filter: blur(4px);
}

// UTILITY - POINTER
.pointer {
	cursor: pointer !important;
}
