/* ----------------------------------------------
	SPACING
---------------------------------------------- */

$spacing-xs:	4px;
$spacing-s:		$spacing-xs * 2;
$spacing-m:		$spacing-xs * 3;
$spacing-l:		$spacing-xs * 4;
$spacing-xl:	$spacing-xs * 5;
$spacing-xxl:	$spacing-xs * 6;
