/* ----------------------------------------------
	COLORS
---------------------------------------------- */

// GENERAL COLOR PALETTE
$white:					#ffffff;
$black:					#191919;
$dark-grey:				#6f6f6f;
$light-grey:			#cdcdcd;

// THEME COLOR PALETTE
$theme-primary: 		#1798c1;
$theme-secondary: 		#009edb;

$success:				#3f9d36;
$validation:			#e62e4d;
$rating:				#f5b324;

// SOCIAL MEDIA
$facebook: 				#3b5998;
$twitter: 				#55acee;
$google-plus: 			#dd4b39;
$linkedin: 				#0976b4;
$youtube: 				#e52d27;
$pinterest: 			#cc2127;

// TO DO: Color Sass Map - Eddie
// REFERENCE: https://www.kevinpowell.co/article/using-my-colors/
