/* ----------------------------------------------
	COLORS
---------------------------------------------- */

// GENERAL COLOR PALETTE
$white:					#FFFFFF;
$black:					#191919;
$dark-grey:				#6F6F6F;
$light-grey:			#CDCDCD;

// THEME COLOR PALETTE
$theme-primary: 		#1798C1;
$theme-secondary: 		#009EDB;

$success:				#3F9D36;
$validation:			#E62E4D;
$rating:				#F5B324;

// SOCIAL MEDIA
$facebook: 				#3B5998;
$twitter: 				#55ACEE;
$google-plus: 			#DD4B39;
$linkedin: 				#0976B4;
$youtube: 				#E52D27;
$pinterest: 			#CC2127;

// TO DO: Color Sass Map - Eddie
// REFERENCE: https://www.kevinpowell.co/article/using-my-colors/
