{
	"plugins": [
		"stylelint-scss"
	],
	"customSyntax": "postcss-scss",
	"ignoreFiles": ["./theme/*.js"],
	"rules": {
		"scss/at-rule-no-unknown": [
			true,
			{
				"ignoreAtRules": [
					"extend",
					"ignore",
					"function",
					"if",
					"each",
					"include",
					"mixin",
					"return",
					"use"
				]
			}
		],
		"scss/selector-no-redundant-nesting-selector": true,
		"color-no-invalid-hex": true,
		"selector-pseudo-class-no-unknown": [
			true,
			{
				"ignorePseudoClasses": ["global"]
			}
		],
		"block-no-empty": null,
		"comment-empty-line-before": [
			"always",
			{
				"ignore": ["stylelint-commands", "after-comment"]
			}
		],
		"max-empty-lines": 2,
		"number-max-precision": [
			4,
			{
				"severity": "warning"
			}
		],
		"unit-allowed-list": ["rem","px","%","vh","vw","s","dppx", "deg"],
		"indentation": "tab",
		"color-hex-case": "upper",
		"font-family-no-duplicate-names": true,
		"font-weight-notation": [
			"numeric",
			{
				"ignore": ["relative"]
			}
		],
		"string-quotes": [
			"single",
			{
				"message": "Use single quotes."
			}
		],
		"function-url-quotes": "always",
		"color-hex-length": "long",
		"declaration-colon-newline-after": null,
		"font-family-name-quotes": null,
		"value-list-comma-newline-after": null,
		"selector-class-pattern": [
			"^[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}$",
			{
				"severity": "warning",
				"message": "Use BEM (.block__element--modifier) naming convention for class-names."
			}
		],
		"max-nesting-depth": [
			3,
			{
				"severity": "warning"
			}
		]
	}
}
